<div class="container">
  <div class="signup-container">
    <div class="signup-left-container">
      <img src="../../../assets/signup.png" alt="This is Image" width="350px" />
    </div>
    <div class="signup-right-container">
      <div class="title">
        <h3>Get Start Shopping</h3>
        <p>Welcome to FreshCart! Sign up to manage your inventory with ease.</p>
      </div>
      <div class="signup-form">
        <form (ngSubmit)="OnSignUp()">
          <input
            type="text"
            name="full_name"
            placeholder="Enter Name"
            [(ngModel)]="signupData.full_name"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Enter Email"
            [(ngModel)]="signupData.email"
            required
          />

          <select
            name="store_type"
            [(ngModel)]="signupData.store_type"
            required
          >
            <option value="" selected disabled>Select Store Type</option>
            <option value="grocery">Grocery</option>
            <option value="electronics">Electronics</option>
            <option value="hardware">Hardware</option>
          </select>

          <input
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="signupData.password"
            required
          />
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            [(ngModel)]="confirm_password"
            required
          />

          <button type="submit" id="signup-btn">SignUp</button>
          <p>
            Already Registered?
            <a id="login-page" routerLink="/login">LogIn Here</a>
          </p>
        </form>
        <div class="signup-footer">
          <p>
            By Continuing, you agree to our
            <a href="#">Terms of Service </a>&<a href="#"> Privacy Policy </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
