/* -----------------------Side Bar --------------------- */
.sidebar {
    position: absolute;
    margin-top: 80px;
    width: 20%;
    background: #CAFAFF;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    color: #000;
    border-radius: 10px;
    transition: all .15s ease-in-out;
}
.sidebar ul li:hover{
  background: #b9ecf2;
}
.sidebar ul li.active {
    background: #00E5FF;
    font-weight: 600;
}

.active {
    background-color: #00E5FF;
    color: white;
    font-weight: 600;
}


/* ----------------------------Main content ------------------------ */