<div id="nav-container">
  <div id="navbar">
    <div id="logo">
      <img src="../../../../assets/logos/inventory-black.png" alt="Inventory Logo">
      <h5>IMS</h5>
    </div>
    
    <div id="input">
      <img src="../../../../assets/logos/search.png" width="30" height="30" id="search-logo">
      <input type="search" placeholder="Search..." id="search_bar">
    </div>
    
    <div id="box">
      <div id="Addtocart">Add to cart</div>
      <div id="basket">
        <img src="../../../../assets/cart.png" id="cart" alt="Cart">
      </div>
    </div>
  </div>

  <div id="nav">
    <ul>
      <li routerLink="/grocery-store-home">Home</li>
      <li routerLink="/grocery-user-dashboard">Dashboard</li>
      <li routerLink="/">Log Out</li>
    </ul>
  </div>
</div>
