*{
    background-color: #333;
    color: white;
}
.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3em 3em;
}
.logo{
    font-size: 2em;
    font-weight: 600;
}
.right-option ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2em;
    list-style: none;
    gap: 35px;
}
.right-option li{
    cursor: pointer;
}
#login{
    transition: all .15s ease-in-out; 
}
#login:hover{
    background-color: white;
    color: #333;
    padding: .2em .3em;
    border-radius: 5px;
}