<div class="header-container">
<div class="search-container">
    <div class="logo">Testing IMS</div>
    <div class="search-bar">
      <input type="text" name="input-search-text" id="search-field" placeholder="Search Here..."/>
      <button type="submit" id="btn-search">Search</button>
    </div>
  </div>

<nav>
  <ul>
    <li>
      <select name="store-type" id="store-type" (change)="navigate($event)">
        <option value="" selected disabled>Select Store Type</option>
        <option value="grocery">Grocery</option>
        <option value="electronics">Electronics</option>
        <option value="hardware">Hardware</option>
      </select>
    </li>
    <li>
      <select name="signup-login" id="signup-login" (change)="navigate($event)">
        <option value="" selected disabled>Account</option>
        <option value="signup">SignUp</option>
        <option value="login" routerLink="/login">LogIn</option>
      </select>
    </li>
    <li >Dashboard</li>
  </ul>
</nav>
</div>