.header-container{
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.456);
  margin-bottom:2em ;
}
.search-container{
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0px 100px;
}
.logo{
  font-size: 2.4em;
  font-weight: 600;
}
.search-bar {
  display: flex;
  align-items: center;
}

#search-field {
  position: relative;
  width: 45vw;
  height: 40px;  /* Set the same height */
  font-size: 1.1em;
  border: 3px solid #1e1e1e;
  outline: none;
  color: #1e1e1e;
   padding: 0 15px;
   background-color: transparent;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 13px;
  box-sizing: border-box; /* Ensures padding doesn't affect height */
  transition: all .2s ease-in-out;
}
#btn-search {
  right: 100px;
  height: 40px;
  position: absolute;
  font-size: 1.1em;
  border: none;  
  color: #CCCCCC;
  background-color: #1e1e1e;
  font-weight: 500;
  padding: 0 15px;
  cursor: pointer;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  box-sizing: border-box; /* Ensures proper height */
  transition: all .1s ease-in-out;
}

#btn-search:hover{
  color: #CCCCCC;
  background-color: #1e1e1e;
}
ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 13vh;
  font-size: 1.1em
}
li,select{
  cursor: pointer;
  font-size: 1em;
  display:flex;
  align-items: center;
  background-color  : transparent;
  height: 3em;
  transition: all .1s ease-in-out;
}
li:hover{
  filter: drop-shadow(0px 0px 3px rgba(27, 27, 27, 0.41));  
}
select{
  border: none;
  outline: none;
  padding:0 5px;
}
option{
  border-radius: none;
  color: #1e1e1e;
  border: none;
  outline: none;
}