<div class="container">
  <form (submit)="saveProduct(); $event.preventDefault()">
    <input type="text" [(ngModel)]="product.name" name="name" placeholder="Name" required />
    <input type="number" [(ngModel)]="product.price" name="price" placeholder="Price" />
    <input type="text" [(ngModel)]="product.category" name="category" placeholder="Category" />
    <input type="number" [(ngModel)]="product.quantity" name="quantity" placeholder="Quantity" />
    <textarea [(ngModel)]="product.description" name="description" placeholder="Description"></textarea>
    <input type="text" [(ngModel)]="product.gstType" name="gstType" placeholder="GST Type" />
    <input type="number" [(ngModel)]="product.gstRate" name="gstRate" placeholder="GST Rate" />
    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" required />
    <button type="submit">Add Product</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Price</th>
        <th>GST Type</th>
        <th>GST Rate</th>
        <th>Actions</th>
        <th>Product ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="getImageUrl(product.product_id)" class="product-image" alt="Product image" />
        </td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_description}}</td>
        <td>{{ product.product_category }}</td>
        <td>{{ product.product_available_stock_quantity}}</td>
        <td>{{ product.product_price }}</td>
        <td>{{ product.gst_type }}</td>
        <td>{{ product.gst_rate}}</td>
        <td>
          <button (click)="editProduct(product)">
            <img src="../../../../../assets/logos/edit-black.png" width="20px" alt="edit" />
          </button>
          <button (click)="deleteProduct(product.id)">
            <img src="../../../../../assets/logos/delete-black.png" width="20px" />
          </button>
        </td>
        <td>{{ product.product_id }}</td>
      </tr>
    </tbody>
  </table>
</div>
