<nav class="navbar">
  <div class="logo">
    <img src="../../../../assets/logos/inventory-black.png" width="25px" />
    <h3>IMS</h3>
  </div>
  <div class="nav-links">
    <button class="store-home-link" (click)="profile()">
      <img src="../../../assets/logos/account-black.png" width="25px" />
    </button>
    <button class="store-home-link" (click)="storeHome()">
      <img src="../../../../assets/logos/home-black.png" width="30px" />
    </button>
    <button class="signin_link" (click)="logout()" routerLink="">
      <img src="../../../assets/logos/logout-black-2.png" width="30px" />
    </button>
  </div>
</nav>
