<div id="navbar">
  <div id="logo"> Logo</div>
  <div id="input"> <input type="search"  placeholder="Search..." id="search_bar">
  </div>
  <div id="box">
     <div id="Addtocart"> Add to cart</div>
     <div id="basket"><img src="../../../../assets/cart.png" id="cart"></div>
  </div>

</div>

<!--navbar starts  -->
<div id="nav">
  <ul>
      <li>Home</li>
      <li>About us</li>
      <li>Categories</li>
      <li>Store</li>
      <li routerLink="/storeDashboard">Dashboard</li>
      <li routerLink="/login">Logout</li>
  </ul>
</div>
<!-- navbar ends -->
