.navbar {
  display: flex;
  background-color: #2c3e50;
  padding: 15px 30px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.logo {
  flex: 10%;
  align-items: center;
}

.logo img {
  flex: 10%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  flex: 80%;
  margin-top: 12px;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.signin_link {
  flex: 10%;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s;
}


.username {
 
flex: 7%;
margin: 7px 10px;
  font-size: 16px;
  font-weight: 500;
}

.signin_link:hover {
  background-color: #2980b9;
}
