<section class="invoice-box">
    <h2 class="mainheading">Create Invoice</h2>
  
    <!-- Invoice Input Section -->
    <div class="invoice-section">
      <div class="invoice-details">
        <div class="imgheading" style="width: 161px;">
          <img class="bill_icon" src="../../../../assets/billing_icons/saveIcon.png" alt="save" width="40px"
            height="40px" />
          <span class="sub_heading">Invoice Details</span>
        </div>
        <p class="content">Invoice Number: {{invoiceNo}}</p>
        <p class="content">
          Invoice Date:
          <input type="date" id="invoiceDate" name="invoiceDate" value="2025-04-03" [(ngModel)]="invoiceDate" />
  
        </p>
  
      </div>
  
      <!--bill to section-->
      <div class="bill-to">
        <div class="imgheading" style="width: 94px;">
          <img class="bill_icon" src="../../../../assets/billing_icons/customer.png" alt="customer" width="40px"
            height="40px" />
          <span class="sub_heading">Bill To:</span>
        </div>
        <p class="content">Customer Name:</p>
        <input type="text" name="invoiceName" [(ngModel)]="invoiceName" />
      </div>
    </div>
  
   
  
    <!-- Item Table Section -->
    <div class="invoice-calculation">
      <div class="imgheading" style="width: 202px;">
        <img class="bill_icon" src="../../../../assets/billing_icons/saveIcon.png" alt="calc" width="40px"
          height="40px" />
        <span class="sub_heading">Invoice Calculation:</span>
      </div>
  
      <table>
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Net Amt</th>
            <th>GST Type</th>
            <th>GST Rate</th>
            <th>GST Amt</th>
            <th>Total Amt</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.netAmount}}</td>
            <td>{{item.gstType}}</td>
            <td>{{ item.gstRate}}%</td>
            <td>{{item.gstAmount}}</td>
            <td>{{ item.totalAmount }}</td>
            <td> <img src="../../../../assets/billing_icons/Trash.png" style="cursor: pointer;"
                (click)="removeProduct(i)" /></td>
          </tr>
        </tbody>
      </table>
  
      <div class="totals">
        <p><strong>Total Invoice Amount:</strong> ₹ {{ total.toFixed(2) }}</p>
        <p><strong>Invoice Amount Received:</strong> ₹ 0.00</p>
        <p><strong>Due Date:</strong> {{ invoiceDate }}</p>
      </div>
  
      <button class="create-btn" (click)="saveBill()">Create your Invoice</button>
      <button class="create-btn" (click)="previewPDF()">Preview your Invoice</button>
    </div>
  </section>
