<div class="signup">
    <div class="parent">
    <div class="container">
      <form (ngSubmit) = "onSignup()">
      <label for="first-name">Full name</label>
      <input type="text" id="first-name" [(ngModel)] = "userDetails.firstname" name="firstname" required />
      <label for="last-name">Address</label>
      <input type="text" id="last-name" [(ngModel)] = "userDetails.lastname" name="lastname" required />
      <label for="last-name">Mob no</label>
      <input type="text" id="last-name" [(ngModel)] = "userDetails.lastname" name="lastname" required />
      
      <label for="username">Username</label>
      <input type="text" id="user-name" [(ngModel)] = "userDetails.username" name="username" required />
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)] = "userDetails.password" name="password" required />
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmpassword" required />
      <button>Create Account</button>
      <p class="login"> Already Registered? <a routerLink="/login" class="login" id="login-page">Login</a></p>
    </form>
  </div>
    </div>
  </div>
  