<section class="invoice-box">
  <h2 class="mainheading">Create Invoice</h2>

  <!--Invoice section-->
  <div class="invoice-section">
    <div class="invoice-details">

      <div class="imgheading" style="width: 161px;">
        <img class="bill_icon"  src="../../../../assets/billing_icons/saveIcon.png" alt="save" width="40px" height="40px" />
        <span class="sub_heading">Invoice Details</span>
      </div>
      
      <p class="content">Invoice Number: 01</p>
      <p class="content">Invoice Date: 03-04-2025 <a href="#">Edit</a></p>
    </div>



    <!--Bill to section -->
    <div class="bill-to">
      <div class="imgheading" style="width: 94px;">
        <img class="bill_icon"  src="../../../../assets/billing_icons/customer.png" alt="save" width="40px" height="40px" />
        <span class="sub_heading">Bill To:</span>
      </div>
      <label class="content">Customer Name:</label>
      <input type="text" value="Kalyani Barge">
    </div>
  </div>

  <!--Add entery section-->
  <div class="item-entry">
    <input type="text" class="item-name" placeholder="Enter Item" [(ngModel)]="name">
    <input type="number" class="item-qty" placeholder="Qty" [(ngModel)]="price" (input)="calculateTotal(price, qty)">
    <input type="number" class="item-cost" placeholder="Cost" [(ngModel)]="qty" (input)="calculateTotal(price, qty)">
    <input type="text" class="item-gst" placeholder="GST" [(ngModel)]="gst" (input)="calculateGST(price,qty)">
    <input type="text" class="item-total" placeholder="Total Amt" [value]="sum" disabled >
    <button class="edit-btn">✏️</button>
    <button class="delete-btn">🗑️</button>
  </div>
  
  <a href="#" class="add-item">+ Add Item/s</a>


  <!--Calculation section-->
  <div class="invoice-calculation">
    <div class="imgheading" style="width: 202px;">
      <img class="bill_icon"  src="../../../../assets/billing_icons/customer.png" alt="save" width="40px" height="40px" />
      <span class="sub_heading">Invoice Calculation:</span>
    </div>
    <table>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>QTY</th>
          <th>Amt</th>
          <th>GST</th>
          <th>Total Amt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Samsung Phones</td>
          <td>10</td>
          <td>₹ 50000</td>
          <td>₹ 9000</td>
          <td>₹ 59000</td>
        </tr>
      </tbody> <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.price }}</td>
          <td>{{ user.qty }}</td>
          <td>{{ user.sum }}</td>
        </tr>
      </tbody>
    </table>

    <div class="totals">
      <p><strong>Total Invoice Amount:</strong> ₹ 88500</p>
      <p><strong>Invoice Amount Received:</strong> 0.00</p>
      <p><strong>Due Date:</strong> 02/05/2025</p>
    </div>

    <button class="create-btn">Create your Invoice</button>
  </div>
</section>