nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px #1e1e1e;
}
.logo{
  font-size: 2em;
  font-weight: 600;
}
.title{
  font-size: 1.5em;
  font-weight: 600;
}
.nav-links ul{
  font-size: 1.1em;
  display: flex;
  list-style: none;
  gap:55px;
}
select{
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  outline: none;
}
