
<div class="header">
    <h1>Welcome back! FreshCart</h1>
    <p style="position: relative;z-index: 2;">FreshCart is a simple & clean design for developers and designers.</p>
    <button class="create-btn">Create Product</button>
    <img class="hero_image"  src="assets/hero_image.JPG" alt="FreshCart Hero Image"/>
</div>
<div class="stats">
    <div class="stat-box">
        <p class="stat-title">Earnings</p>
        <p class="stat-value">000</p>
        <p class="stat-info">Monthly revenue</p>
    </div>
    <div class="stat-box">
        <p class="stat-title">Orders</p>
        <p class="stat-value">000</p>
        <p class="stat-info">35+ New Sales</p>
    </div>
    <div class="stat-box">
        <p class="stat-title">Customer</p>
        <p class="stat-value">000</p>
        <p class="stat-info">30+ new in 2 days</p>
    </div>
</div>