<app-hero></app-hero>
<div class="stats">
    <div class="stat-box">
        <p class="stat-title">Earnings</p>
        <p class="stat-value">000</p>
        <p class="stat-info">Monthly revenue</p>
    </div>
    <div class="stat-box">
        <p class="stat-title">Orders</p>
        <p class="stat-value">000</p>
        <p class="stat-info">35+ New Sales</p>
    </div>
    <div class="stat-box">
        <p class="stat-title">Customer</p>
        <p class="stat-value">000</p>
        <p class="stat-info">30+ new in 2 days</p>
    </div>
</div>
