<div class="featured-categories-product-container">
  <div
    class="featured-categories-product-card-container"
    *ngFor="let product of products | slice:0:4; let i = index"
  >
    <div class="featured-product-discount">
      <img src="../../../../assets/disc-tag.png" alt="" />
    </div>
    <div class="featured-categories-product-info">
      <div class="featured-product-image">
        <img
          [src]="getImageUrl(product.product_id)"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="featured-product-head">
        <p id="product_name">{{ product.productName }}</p>
        <p id="product_price">₹ {{ product.product_price }}</p>
      </div>
    </div>
    <div class="featured-product-rating">
      <img src="../../../../assets/stars.png" alt="" />
    </div>
    <div class="featured-product-description" [class.expanded]="expandedIndex === i">
      <ng-container *ngIf="product.product_description.length > 50; else fullText">
        {{ expandedIndex === i ? product.product_description : (product.product_description | slice:0:50)}}
        <span id="read-more" (click)="toggleDescription(i)">
          {{ expandedIndex === i ? 'Read less' : 'Read more...' }}
        </span>
      </ng-container>
      <ng-template #fullText>
        {{ product.product_description }}
      </ng-template>
    </div>
    <div class="featured-product-bottom">
      <div
        class="custom-checkbox"
        [class.checked]="isProductSelected(product.product_id)"
        (click)="toggleProductSelection(product)"
      >
        {{ isProductSelected(product.product_id) ? 'Added' : 'Add to Cart' }}
      </div>
    </div>
  </div>
</div>
