.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  width: 0ch;
  border-right: 3px solid black; /* Adds cursor effect */
  animation: typing 3s steps(30) infinite alternate-reverse ;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0ch;
    opacity: 0;
  }
  to {
    width: 18ch; /* Adjust based on text length */
  }
}