<!-- footer starts -->.
 <footer>
<div id="footer">
  <div id="footer_text">
    <p class="p">Inventory made</p>
    <p class="p"><span style="color: rgb(24, 207, 198)">simple,</span></p>
    <p class="p">business made</p>
    <p class="p"><span style="color: rgb(24, 207, 198)">smarter</span></p>
  </div>
  <div id="footer_img">
    <p id="header">No account yet?</p>
    <hr />
    <div id="footer_form">
      <p id="text1">
        <span style="color: rgb(24, 207, 198)">Create </span>your
      </p>
      <p id="text2">account today!</p>
      <input
        type="text"
        name="email"
        placeholder="Type your valid mail id"
        required
        class="input"
      /><br />
      <input
        type="password"
        name="password"
        placeholder="Enter a strong password"
        required
        class="input"
      /><br />
      <input type="submit" name="register" value="Register Account" id="btn" />
    </div>
    <div id="img">
      <img src="../../../assets/vector_img.png" id="vector_img" />
    </div>
  </div>
</div>
<div class="floor"></div>
</footer>