.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.signup-container{
  padding: 1em 0;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-height: 100%;
  backdrop-filter: blur(20px);
  padding: 40px 0;
  border-radius: 15px;
  box-shadow: 0 0 20px #1e1e1e;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
input{
  font-size: 1em;
  outline: none;
  margin: .5em;
  width: 22.3vw;
  height: 5vh;
  border-radius: 10px;
  border: 3px solid #1e1e1e;
  background-color: transparent;
  padding: 0 20px;
}
input::placeholder{
  font-weight: 500;
  color: #1e1e1e;  
}

#signup-btn{
  font-size: 1em;
  margin: .5em;
  width: 25.3vw;
  height: 5vh;
  border: 3px solid #1e1e1e;
  border-radius: 10px;
  background-color: transparent;
  padding: 0 20px;
  transition: all .1s ease-in-out;
}
#signup-btn:hover{
  transform: scale(1.03);
  cursor: pointer;
}
#login-page {
  margin: .5em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
 }

#login-page::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1e1e1e;
  transition: all 0.2s ease-in-out;
  transform: translateX(-50%);
}

#login-page:hover::after {
  width: 100%;
}

a{
  text-decoration: none;
  color: #1e1e1e;
}