
<div id="banner">
  <div id="banner_img">
    <img src="../../../assets/banner.png" id="" />
  </div>
  <div id="banner_text">
    <p class="p">Your Inventory, Your</p>
    <p class="p">
      Way—<span style="color: rgb(24, 207, 198)"><b>Organized</b></span>
    </p>
    <p class="p">
      <span style="color: rgb(24, 207, 198)"><b>Optimized</b></span> and
      <span style="color: rgb(24, 207, 198)"><b>Always</b></span>
    </p>
    <p class="p">
      <span style="color: rgb(24, 207, 198)"><b>in control</b></span>
    </p>
  </div>
</div>
<div class="featured-categories">
  <div class="featured-categories-title">Featured Categories</div>
  <div class="see-more">See more</div>
</div>