<app-store-nav></app-store-nav>
<div id="banner">
  <div >
    <img src="../../../../assets/electronics.png" id="banner_img">
  </div>
  <div id="banner_text">
    <p class="p">Your Inventory, Your</p>
    <p class="p">
      Way—<span style="color: rgb(24, 207, 198)"><b>Organized</b></span>
    </p>
    <p class="p">
      <span style="color: rgb(24, 207, 198)"><b>Optimized</b></span> and
      <span style="color: rgb(24, 207, 198)"><b>Always</b></span>
    </p>
    <p class="p">
      <span style="color: rgb(24, 207, 198)"><b>in control</b></span>
    </p>
  </div>
</div>


<app-featured-categories-card></app-featured-categories-card>